
@font-face {
    font-family: 'ChaparralProRegular';
    src: url('font-face/chaparralpro-regular-webfont.eot?#iefix');
    src:local('ChaparralProRegular'),
		url('font-face/chaparralpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-face/chaparralpro-regular-webfont.woff') format('woff'),
         url('font-face/chaparralpro-regular-webfont.ttf') format('truetype'),
         url('font-face/chaparralpro-regular-webfont.svg#ChaparralProRegular') format('svg');
	font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CronosProLight';
    src: url('font-face/cronospro-lt-webfont.eot?#iefix');
    src: local('CronosProLight'),
		url('font-face/cronospro-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-face/cronospro-lt-webfont.woff') format('woff'),
         url('font-face/cronospro-lt-webfont.ttf') format('truetype'),
         url('font-face/cronospro-lt-webfont.svg#CronosProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* --------------------------------------------------------------

   typography.css
   * Sets up some sensible default typography.

-------------------------------------------------------------- */

/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100.01%; }
body {
  font-size: 105%;
  color: #666;
  background: #fff;
  font-family: "CronosProLight", Arial, Helvetica, sans-serif;
}


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 { font-family: 'ChaparralProRegular'; font-size: 1em;  color: #F96302; margin: 4px 0px;}
h2 { font-size: 1em; line-height: 1; margin-bottom: 1em;}
h3 { font-size: 1em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.0em; }
/*
  These can be used to pull an image at the start of a paragraph, so
  that the text flows around it (usage: <p><img class="left">Text</p>)
 */
.left       { float: left !important; }
p .left     { margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.right      { float: right !important; }
p .right    { margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a:focus,
a:hover     { color: #09f; }
a{color:#F96302; text-decoration:none;}

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong,dfn  { font-weight: bold; }
em,dfn      { font-style: italic; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul,
li ol  { margin: 0; }
ul, ol { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }

ul     { list-style-type: disc; }
ol     { list-style-type: decimal; }

dl     { margin: 0 0 1.5em 0; }
dl dt  { font-weight: bold; }
dd     { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

/*
  Because of the need for padding on TH and TD, the vertical rhythm
  on table cells has to be 27px, instead of the standard 18px or 36px
  of other elements.
 */
table         { margin-bottom: 1.4em; width:100%; }

/*tables*/
table, th, td{
	text-align:left; 
	font-size: 1em;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-collapse: collapse;
    padding: 4px 10px 4px 5px;
}

table p{
	font-size: 1em;
}
table p.subtext{
	font-style: italic;
	font-size: 1em;
}​

table h1{
	margin: 3px 0px !important;
}


/* Misc classes
-------------------------------------------------------------- */

.small     { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large     { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide      { display: none; }

.quiet     { color: #666; }
.loud      { color: #000; }
.highlight { background:#ff0; }
.added     { background:#060; color: #fff; }
.removed   { background:#900; color: #fff; }

.first     { margin-left:0; padding-left:0; }
.last      { margin-right:0; padding-right:0; }
.top       { margin-top:0; padding-top:0; }
.bottom    { margin-bottom:0; padding-bottom:0; }
